/* COMMONS */

/* /COMMONS */



/* HEADER */
#header-top{
    height: 30px;
}
/* /HEADER */



/* MAIN */

/* JUMBO */
#jumbo-top{
    height: 400px;
}
/* /JUMBO */

/* /MAIN */



/* FOOTER */

/* /FOOTER */





/* +++++++++++++++++++++ */
/* DEBUG */
.debug #jumbo-top{
    background-color:lightpink;
}

.debug #jumbo-top .ms_content-box{
    height: 100px;
    background-color: lightseagreen;
}

.debug #jumbo-bottom{
    background-color:lightskyblue;
}

.debug #jumbo-bottom .ms_box{
    height: 80px;
    background-color: lightseagreen;
}

/* /DEBUG */